* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #777;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
            135deg,
            rgba(255, 153, 156, 0.8) 30%,
            rgba(254, 207, 239, 0.8)
        ),
        url('../images/cover.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}
