* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: #777;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
            135deg,
            rgba(255, 153, 156, 0.8) 30%,
            rgba(254, 207, 239, 0.8)
        ),
        url('../images/cover.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

.logo-box {
    position: absolute;
    left: 30px;
    top: 30px;
    animation: clip;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    clip-path: circle(50%);
}

.logo {
    width: 160px;
    height: 160px;
    object-fit: cover;
    background: transparent;
}

.heading-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading {
    display: block;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 20px;

    /* animation section */
    animation: moveInLeft;
    animation-duration: 0.9s;
    animation-timing-function: ease-in;
}

.btn {
    border-radius: 99px;
    transition-duration: 300ms;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
}

.btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

@keyframes clip {
    0% {
        clip-path: circle(60px);
    }

    50% {
        clip-path: circle(0);
    }

    100% {
        clip-path: circle(60px);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    70% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(-4px);
    }

    90% {
        transform: translateX(4px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
